<%= render 'shared/form_errors', obj: post %>

<div class="well">
  <%= form_for post do |post_form| %>
    <div class="control-group">
      <%= post_form.label :title %>
      <%= post_form.text_field :title %>
    </div>
    <div class="control-group">
      <%= post_form.label :url %>
      <%= post_form.text_field :url %>
    </div>
    <div class="control-group">
      <%= post_form.label :description %>
      <%= post_form.text_area :description, rows: 5 %>
    </div>
    <div class="control-group">
      <%= post_form.label :categories %>
      <%= post_form.collection_select(:category_ids, Category.all, :id, :name, {}, {multiple: true}) %>
    </div>
    <%= post_form.submit class: 'btn btn-primary' %>
  <% end %>
</div>