<p class="pull-right">
  [<%= link_to 'edit post', edit_post_path(@post) %>]
</p>

<p><%= render @post.categories %></p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
  <hr/>
</p>

<%= render 'shared/form_errors', obj: @comment %>

<p>
  <% if logged_in? %>
    <%= form_for [@post, @comment] do |comment_form| %>
      <div class="control-group">
        <%= comment_form.label :body, 'Add comment:' %>
        <%= comment_form.text_area :body %>
      </div>
      <%= comment_form.submit class: 'btn btn-primary btn-small' %>
    <% end %>
  <% end %>

  <h5>Comments:</h5>

  <% @post.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</p>